# IS455 Homework 4

In [171]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import ipywidgets 
from ipywidgets import interact
import cufflinks as cf
import plotly.graph_objs as go

Allow users to change the x and y fields on scatter plot

In [172]:
# import the UFO dataset 
ufo = pd.read_csv("ufo-scrubbed-geocoded-time-standardized-00.csv",
                  names = ["date", "city", "state", "country",
                          "shape", "duration_seconds", "duration",
                          "comment", "report_date", "latitude", "longitude"],
                  parse_dates = ["date", "report_date"])
ufo

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

In [173]:
# Fill NaN 
ufo = ufo.fillna({'country':'unknown', 'state': 'unknown', 'shape':'unknown'})
ufo

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,unknown,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),unknown,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

Select random 1000 samples.

In [174]:
nsamples = 1000
downSampleMask = np.random.choice(range(len(ufo)-1), nsamples, replace=False)
ufoDS = ufo.loc[downSampleMask]

### Q1: Allow users to change axis fields and pick colormap

In [175]:
@ipywidgets.interact(colormap = plt.colormaps(),
                     x = ['state','country','shape','report_date','longitude','latitude'], 
                     y = ['duration_seconds','longitude','latitude'])
def choose_fields(x , y,colormap):
    plt.figure(figsize=(13,10))
    plt.scatter(ufoDS[x], ufoDS[y], 
                c=np.log10(ufoDS['duration_seconds']),cmap = colormap)
    plt.xticks(rotation = 90)
    plt.colorbar()

interactive(children=(Dropdown(description='x', options=('state', 'country', 'shape', 'report_date', 'longitudâ€¦

#### Do you want the user to be able to pick any 2 columns?  Or only certain columns?  Why or why not?

I do not want users to pick any 2 columns because some variables like 'comments'cannot be graphed. Numerical and categorical data are prefered in this graph. Users are able to choose either catehorical or numerial column in x axis and numerial columns in y axis.  However, users can't choose 'city' column in this interactive graph because due to the large number of cities, the visualization will not be able to display city names clearly.

### Q2: Build widget to dispay aggregated values of columns

In [176]:
@ipywidgets.interact(x = ['state','city','country','shape','report_date','duration_seconds','longitude','latitude'],
                     y = ['duration_seconds','longitude','latitude'])

def binned_graph(x,y):
    initial_bin_width = 10
    if(ufoDS[x].dtype == '<M8[ns]'or ufoDS[x].dtype =='O'):
        plot = ufoDS.groupby(x)[y].sum()
        plot.plot(figsize=(13,10))
    
    else:
        figure_widget = go.FigureWidget(
        data=[go.Histogram(x=ufoDS[x], xbins={"size": initial_bin_width})]
    )

        bin_slider = ipywidgets.FloatSlider(
            value=initial_bin_width,
            min=1,
            max=30,
            step=1,
            description="Bin width:",
            readout_format=".0f",  # display as integer
        )

        histogram_object = figure_widget.data[0]

        def set_bin_size(change):
            histogram_object.xbins = {"size": change["new"]}

        bin_slider.observe(set_bin_size, names="value")

        output_widget = ipywidgets.VBox([figure_widget, bin_slider])
        return output_widget

interactive(children=(Dropdown(description='x', options=('state', 'city', 'country', 'shape', 'report_date', 'â€¦

#### Do you want the user to be able to pick any 2 columns?  Or only certain columns?  Why or why not?

Same as the previous graph, I opt out 'comments', 'duration' and 'date' becasue they are not graphable. Users are still able to choose either catehorical or numerial column in x axis and numerial columns in y axis.However, I added 'city' to x axis this time because as I aggregate data, the x axis shows less labels.